p.vital {
  color: red;
  font-style: italic;
  font-size: 30px;
}

p.best {
  background-color: blue;
  text-align: justify;
}
.pet {
  font-family: serif;
  font-size: 20px;
  color: green;
}
p.important {
  color: red;
  font-family:sans-serif;
  font-size: 10px;
}

p.orangeblock {
  background-color: orange;
  text-align: justify;
}

h1.center {
  text-align: center;
  color: blue;
}
